#head_text{
    text-align: left;
  color: #53b6dd;
  background-color: #304675;
  width: 100%;
  height: 58px;
  display: flex;
  flex-direction: column;
  font-size: 35px;
  padding: 4px;
}
.logo1{
  margin-left: 22px;
  font-size: 34px;
}
.logo2{
  color: black;
    margin-left: 77px;
    font-size: 18px;
    margin-top: -6px;
}