#box{
    background-color: #c9c7c747;
    height: 233px;
    width: 320px;
    padding: 25px;
}
.heading_1{
    margin-top: 25px;
    margin-left: 12px;
}
#Flex_1{
    display: flex;
    flex-direction: column;
    
}
#Flex_2{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
#Flex_3{
    display: flex;
    flex-direction: row;
    padding-top: 0px;
    justify-content: space-evenly;
    margin: 57px;
    font-size: 39px;
}
#img_icon{

    width: 85px;
}